.square {
    width: 15vw;
    height: 14vh;
    border: 2px solid #333;
    display: flex; 
    flex-wrap: space-between;
    align-items: center; 
    justify-content: space-between;
    /* justify-content: center;   */
    /* margin: 5;  */
  }
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  background-color: rgba(167, 163, 151, 0.691)
}
.board {
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
  height: 45%;
  /* justify-content: center;  */
  /* border: 2px solid #333; */
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.newGame {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  background-color: bisque;
  width: 20vw;
  height: 10vh;
  color: black;
}
.quitGame {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  background-color: bisque;
  width: 20vw;
  height: 10vh;
  color: black;
}


h3 {
  text-align: center;
}

  