body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(235, 217, 147, 0.691);
  justify-content: flex-end;
  
}

.board-container {
  justify-content: center;
  display: flex;
  height: 50vh;
}

.board {
  background-color: blanchedalmond;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
  justify-content: center; 
  /* border: 2px solid #333; */
  margin: 0 auto;
  /* padding: 10px; */
}

.square {
    width: 10vw;
    height: 12vh;
    border: 2px solid #333;
    display: flex; 
    flex-wrap: space-between;
    align-items: center; 
    justify-content: space-between;
    /* justify-content: center;   */
    /* margin: 5;  */
  }

h1 {
  text-align: center;
}

.buttonContainer {
  margin-top: 10vh;
  justify-content: center;
  display: flex;
  height: 50vh;


}
.newGame {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: bisque;
  width: 19vw;
  height: 10vh;
  color: black;
  text-align: center;
}
.quitGame {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: bisque;
  width: 19vw;
  height: 10vh;
  color: black;
}


h3 {
  text-align: center;
}

  